@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');

body {
    padding-top: 70px;
    padding-bottom: 20px;
    /*background-image: url('https://1.bp.blogspot.com/-fqfiQgxJZJk/XkuCaYDJ0LI/AAAAAAAANzg/6M_OwBV188Eh0JqK3xH_uFqpRb1u8TLIgCLcBGAsYHQ/s1920/Soft%2BPurple%2BHD%2BBackground.jpg');
    */
    background-image: linear-gradient(white, #84a59d, white);
    
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #5a7670!important;
    border: none;
    box-shadow: 0 6px 12px #1a1a1a;
    /*opacity: 0.9*/
}

    .navbar a {
        color: white;
    }

        .navbar a:hover {
            color: #4ABDAC;
        }
.navbar-brand, .navbar-right{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
.jumbotron {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    box-shadow: 0 0 15px #4ABDAC;
}



/*--------------Inregistreaza-te--------*/
.inregistreaza-te {
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    text-align:center;
}
.form-horizontal {
    font-family: 'Lobster Two', cursive;
    font-size: 24px;
   
}
    .form-horizontal h4, .form-horizontal p, .retele{
        font-family: 'Lobster Two', cursive;
        font-size: 27px;
        text-align: center;
    }

.btn-default {
    color: black;
    font-size: 22px;
    background-color: #f4a261;
    box-shadow: 0 0 11px black;
}
    .btn-default:hover {
        color: black;
        background-color: #e76f51;
        box-shadow: 0 0 11px black;
    }
    
.btn-danger {
    color: black;
    font-size: 22px;
    background-color: #e76f51;
    box-shadow: 0 0 11px black;
}
    .btn-danger:hover {
        color: black;
        background-color: #e76f51;
        box-shadow: 0 0 11px black;
    }
.btn-info {
    color: black;
    font-size: 22px;
    background-color: #5a7670;
    border-color: #5a7670;
    box-shadow: 0 0 11px black;
}
    .btn-info:hover {
        color: black;
        background-color: #84a59d;
        box-shadow: 0 0 11px black;
    }
.centru {
    width: 45%;
    margin: 0 auto;
}
.register {
  
    margin: 0 30%;
}

/*-------------intregistreaza-te--------*/
.register-login {
    text-align: center;
     font-size:2em;
}
a {
    color: #2B7A78;
}
/*--------Butoane-----*/

p{
    font-size:17px;
    text-align:center;
}
.back {
    color: #fc6767;
    background-color: #2B7A78;
}
.btn {
    font-size: 16px;
}
h3{
    text-align:center;
}
.membru-nou {
    width: 50%;
    margin: 0 auto;
    text-align:center;
}
.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 6px 18px #ccc;
}
.edit-proiect {
    background-color: white;
    margin: auto;
    width: 35%;
    color: black;
    
    box-shadow: 0 0 11px black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.comentariu
{
    background-color: white;
    margin: auto;
    width: 35%;
    color: black;
    box-shadow: 0 0 11px black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;

}
.center {
    margin-left:43%;
}