@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i>Task Management</i></h1><br />
    <p class="lead"><i>Task Management</i> este o platformă care vine în ajutorul tău. Ți s-a întâmplat adesea la locul de muncă, la facultate sau chiar la școală să ai un proiect de făcut împreună cu o echipă de oameni
    și să vă încurcați în taskurile pe care le aveți de făcut? Noi dorim să venim în ajutorul vostru. În cele ce urmează o să vă prezentăm câteva din obșiunile pe care le aveți în funcție de rolul vostru în proiect.</p>
    <img class="imagine"src="img/TM.png" alt="TM" />
</div>

<div class="row jumbotron">
    <div class="col-md-6 ">
        <h2><i>Organizator</i></h2>
        <p class="sub-text">
            Echipa ta a considerat că ești cel mai responsabil și ți-au dat ție oportunitatea să organizezi proiectul așa cum îți dorești?
            Task Management îți dă posibilitatea să îți creezi propriul proiect, să adaugi taskuri cărora să le asignezi câte un responsabil. 
            De asemenea poți să adaugi detalii despre taskuri sau să le modifici în funcție de stare la care se află.
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="sub-text"><i>Membru</i></h2>
        <p>Dacă ești unul din membrii proiectului din care faci parte, ai posibilitatea sa vezi detaliile proiectului, taskurile existente, dar să și adaugi comenatii cu sugestile tale în ceea ce privește rezolvarea unui task.</p>
        
    </div>
    
</div>